
<nav class="nav justify-content-end" id="nav-list">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/menu">Recipe List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/meetOurTeam">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/reviews">Testimonials</a>
  </li>
</nav>


<style>
  .nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .nav-item {
    margin-left: 1rem;
  }
  .nav-link {
    text-decoration: none;
    color: black;
  }
  .nav-link.active {
    font-weight: bold;
  }
  * {
    background-color: white;
  }
</style>
